<div class="row">
    <h2>Proyectos Realizados</h2 >
    <div class="container" >

        <button type="button" class="btn btn-secondary" routerLink="/newproyecto" *ngIf="isLogged">
            Nuevo Proyecto
        </button>

        <div class="col-lg-11 col-md-1 col-sm-1">
            <table class="table">
                <body>
                    <tr *ngFor="let Proyectos of proyectos">
                        <td>{{Proyectos.nombre}}</td>
                        <td>{{Proyectos.fecha}}</td>
                        <td>{{Proyectos.descrip}}</td>
                        <td><img src="{{Proyectos?.img}}" class="img-fluid" id="img-proyecto"></td>
                        <td *ngIf="isLogged">
                            <button class="btn btn-secondary" routerLink="/editproyecto/{{Proyectos.id}}">
                                <i class="bi bi-pen"></i>
                            </button>
                        </td>
                        <td *ngIf="isLogged">
                            <button class="btn btn-danger" (click)="delete(Proyectos.id)">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>  
                    </tr>    
                </body>
            </table>
        </div>
    </div>
</div>